.header
= render "posts/header"
.user-pages
  .user_data
    .user_data_image
      = image_tag @user.image.to_s,size: "200x200"
    .user_data_name
      = @user.name
    .user_data_introduction
      = @user.introduction
    .edit_btn
      = link_to "編集する", "/users/edit"
= render "posts/footer"