.header
= render "posts/header"
.user-pages
  .user_data
    .user_data_image
      = image_tag @user.image.to_s,size: "200x200"
    .user_data_name
      = @user.name
    .user_data_introduction
      = @user.introduction
    .follow
      = render "relationships/follow_button", user: @user
    .edit_btn
      = link_to "編集する", "/users/edit"
  .user-posts
    // 新規投稿順
    .user-posts-new
    - @posts.each do |post|
      .user-posts-new-list
        .user-posts-new-list-name
          = post.name
        -# .user-posts-new-list-text
          -# = post.text      
        .user-posts-new-list-image
          = link_to asset_url("/posts/#{post.id}", method: :get) do
            = image_tag (post.images.first.src.url.to_s),size: "250x250"

= render "posts/footer"
