%header
  %h1.title
    %a{:href => "/"} Grenbam
  %nav.menus
  - if user_signed_in?
    %ul.header-links
      %li.header-link
        %i.fab.fa-opencart
        = link_to "新規投稿", '/posts/new'
      -# %li.header-link
      -#   = link_to current_user.name, "/users/#{current_user.id}"
      -#   さん
      %li.header-link
        = link_to icon('fas', 'user') + " #{current_user.name}さん", '#', class: "dropdown-toggle", id: "navbarDropdown", role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          = link_to icon('fas', 'user') + ' マイページ', user_path(current_user), class: 'dropdown-item'
          = link_to icon('fas', 'sign-out-alt') + ' ログアウト', root_path, class: 'dropdown-item'
      %li.header-link
        = link_to "ログアウト", destroy_user_session_path, method: :delete
  - else
    %ul.header-links
      %li.header-link
        = link_to "ログイン", new_user_session_path
      %li.header-link
        = link_to "新規会員登録", new_user_registration_path