.main
  - if user_signed_in? 
    .topbody__exhibition
      %a 投稿する
      =link_to new_post_path , remote: true do
        %i.fas.fa-camera
  .main__content
    .main__content__photos
      .main__content__photos__text
        %b1 リラックス
        %b2 自然フォトシェアアプリ
        %b3 Grenbamはだれでもかんたんに投稿・閲覧できる
        %b4 画像シェアアプリですよ
.container.pt-5
  %h2.new-posts.pb-4.mt-0
    新規投稿
  .row.post-cards
    - @posts.each do |post|
      .col-lg-4.col-md-12.card-index
        .card.mb-5
          .card-header
            .post-user
              - if post.user.image?
                = link_to image_tag(post.user.image.to_s, class: 'user_avatar', alt: 'avatar image'), post.user, class: 'mr-2'
              - else
                = link_to image_tag('profile-avatar.png', class: 'user_avatar', alt: 'avatar image'), post.user, class: 'mr-2'
              = link_to post.user.name, post.user
          .card-image
            = link_to "/posts/#{post.id}", remote: true do
              = image_tag (post.images.first.src.url.to_s),size: "250x250"
              //= link_to asset_url("/posts/#{post.id}", method: :get) do
          .card-footer
            %div
              %span= "コメント#{post.comments.count}件"
              %span= "いいね！#{post.likes.count}件"
  .pages
    = paginate(@posts)
.bg-success
  .container.pt-5
    %h2.like-soats.text-light.pb-4.mt-0
      人気の投稿
    .row.post-cards
      - @likes.each do |post|
        .col-lg-4.col-md-12.card-index
          .card.mb-5
            .card-header
              .post-user
                - if post.user.image?
                  = link_to image_tag(post.user.image.to_s, class: 'user_avatar', alt: 'avatar image'), post.user, class: 'mr-2'
                - else   
                  = link_to image_tag('profile-avatar', class: 'user_avatar', alt: 'avatar image'), post.user, class: 'mr-2'
                = link_to post.user.name, post.user
            .card-image
              = link_to asset_url("/posts/#{post.id}", method: :get) do
                = image_tag (post.images.first.src.url.to_s),size: "250x250"
            .card-footer
              %div
                %span= "コメント#{post.comments.count}件"
                %span= "いいね！#{post.likes.count}件"
#post-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "1"}
#new-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "1"}

