.modal-dialog.modal-lg{:role => "document"}
  .modal-content
    .row
      .img-container-large.border-right
        - @post.images.each do |image|
          = image_tag image.src.to_s, class: "post_image img-fluid"
      .post-area
        .post-header
          .post-user-data
            .post-user-data-image
              = link_to image_tag(@post.user.image.to_s, class: 'user_avatar', alt: 'avatar image'), @post.user, class: 'mr-2'
            .post-user-data-name.pt-1
              = link_to @post.user.name, @post.user, class: 'text-body'
        .post-container
          .post-user-data-image
            = link_to image_tag(@post.user.image.to_s, class: 'user_avatar', alt: 'avatar image'), @post.user, class: 'mr-2'
          .post-user-data-name.pt-1
            = link_to @post.user.name, @post.user, class: 'text-body'
            .show_posts-text.mt-2
              = @post.text
            .show_posts_likes
              %div{id: "like-#{@post.id}"}
              = render "likes/like", post: @post
        .main__whole__center__comment-room
          - if @comments.present?
            .comments
              - if @comments
                - @comments.each do |comment|
                  .comments-avater
                    = link_to image_tag(@commnet.user.image.to_s, class: 'user_avatar', alt: 'avatar image'), @commnet.user, class: 'mr-2'
                  .comments-name
                    = comment.user.name
                  .comments-box
                    .comments-box__text
                      = comment.text
                    .comments-box__date
                      %time(datetime="#{comment.created_at}")= time_ago_in_words(comment.created_at) + "前"
                    .comments-delete
                      - if current_user == @comment.user
                        = link_to "削除", post_comment_path(@post, commnet), method: :delete
        .container_btn
          - if current_user
            = form_with model: [@post, @comment], local: true do |f|
              .container_btn-area
                = f.text_area :text, placeholder: "コメントを入力してください", rows: "2"
                = f.hidden_field :post_id, value: @post.id
              = f.submit "コメントする"
-# .container
-#   .row
-#     .col-md-6.clearfix
-#       .img-container-large
-#         = image_tag image.src.to_s
-#       .micropost-content
-#         = @micropost.content
-#       .micropost-created-at.pull-right
-#         = "#{time_ago_in_words(@micropost.created_at)}前"
-#     .col-md-6.clearfix.micropost-show-right
-#       #like_button
-#         = render 'partials/like_button'
-#       .micropost-comments
-#         = render @micropost.comments
-#       .comment-form
-#         = form_for (current_user.comments.build) do |f|
-#           = hidden_field_tag :micropost_id, @micropost.id
-#           = f.text_field :content, class:"form-control comment-form-text"
-#           = f.object.errors.full_messages.first if f.object.errors.present?
-#           = f.submit "コメント", class:"btn btn-primary pull-right"
-# .container.delete-post
-#   - if current_user==@micropost.contributer
-#     = link_to '投稿を取り消す', @micropost, method: :delete, data:{confirm: "本当に取り消しますか"}, class:"btn btn-danger"